cmake_minimum_required(VERSION 3.8)
project({{ package_name }})
{% if package_type == "ament" %}
find_package(ament_cmake REQUIRED)
{% else %}
find_package(catkin REQUIRED)
{% endif %}
install(DIRECTORY launch meshes rviz urdf DESTINATION share/${PROJECT_NAME})
{% if package_type == "ament" %}
ament_package()
{% else %}
catkin_package()
{% endif -%}
