# Core dependencies
colorama>=0.4.6
commentjson
numpy
numpy-stl
pybullet
mujoco
requests
sphinx
sphinx-rtd-theme
transforms3d
parameterized
pytest
python-dotenv
PyYAML
# Optional dependencies
# pymeshlab
