colorama
commentjson
Cython
dataclasses; python_version < "3.7"
dataclasses_json
easydict
jinja2
lxml
numpy
numpy-stl
onshape_client
parameterized
pybullet
pytest
PyYAML
requests
sphinx
sphinx-rtd-theme
sqlalchemy
sqlalchemy-utils
transforms3d
